@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    
    <div><a href="https://github.com/Elfocrash/Cosmonaut" target="_blank"><img src="https://chapsas.com/content/images/2018/09/banner-1.png" /></a></div>
    <div>Try one of the two different pagination types powered by <a href="https://github.com/Elfocrash/Cosmonaut" target="_blank">Cosmonaut</a></div>
</div>

<ul class="list-group">
    <li class="list-group-item"><a href="/skiptakefetchdata">Skip and Take (Page size, page number) Example</a></li>
    <li class="list-group-item"><a href="/nextprevfetchdata">Next and Previous buttons Example</a></li>
</ul>